<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longines.dao.GoodsMapper">
    <select id="findGoodsById" parameterType="int" resultType="com.longines.pojo.goods_info">
        select * from tb_goods_info where g_id=#{id}
    </select>
    <insert id="insertGoods" parameterType="com.longines.pojo.goods_info">
        insert into tb_goods_info
        (gname,brand,price,theme,mov,func,a_peo,dial,strap,w_but,g_pic)
        value(#{gName},#{brand},#{price},#{theme},#{mov},#{func},#{apeo},#{dial},#{strap},#{wbut},#{gpic})
    </insert>
    <select id="findGoodsByPrice" resultType="com.longines.pojo.goods_info">
      select * from tb_goods_info order by price;
    </select>
    <select id="findGoodsByTheme" parameterType="String" resultType="com.longines.pojo.goods_info">
        select * from tb_goods_info where theme=#{theme}
    </select>
</mapper>