<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.longines.dao.RecInfoMapper">
    <cache/>

    <!-- useGeneratedKeys="true"把新增加的主键赋值到自己定义的keyProperty（id）中,  这样在之后的java代码中我们就可以获取该主
        键对应的对象的属性值,useGeneratedKeys 要求数据库本身具备主键自动增长的功能， -->
    <insert id="insert" parameterType="RecInfo" useGeneratedKeys="true" keyProperty="a_id,u_id">
		insert into tb_rec_info (u_id,consignee,s_add,c_tel,postcode) values ( #{u_id},#{consignee},#{s_add},#{c_tel},#{postcode})
	</insert>


    <select id="getTodo" parameterType="int" resultType="RecInfo" flushCache="true" useCache="false">
		select * from tb_rec_info where u_id = #{u_id} and a_id = #{a_id}
	</select>

    <select id="getTodoList" resultType="RecInfo" flushCache="true" useCache="false">
		select * from tb_rec_info where u_id = #{u_id}
	</select>

    <update id="updateConsignee" parameterType="RecInfo" flushCache="true">
		update tb_rec_info set consignee = #{consignee} where u_id=#{u_id} and a_id = #{a_id}
	</update>

	<update id="updateSadd" parameterType="RecInfo" flushCache="true">
		update tb_rec_info set s_add = #{s_add} where u_id=#{u_id} and a_id = #{a_id}
	</update>

	<update id="updateCtel" parameterType="RecInfo" flushCache="true">
		update tb_rec_info set c_tel = #{c_tel} where u_id=#{u_id} and a_id = #{a_id}
	</update>

	<update id="updatePostcode" parameterType="RecInfo" flushCache="true">
		update tb_rec_info set postcode = #{postcode} where u_id=#{u_id} and a_id = #{a_id}
	</update>

    <delete id="delete" parameterType="RecInfo">
		delete from tb_rec_info where u_id = #{u_id} and a_id = #{a_id}
	</delete>
</mapper>