<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tesst">
    <!-- 根据商品名称查询 -->
    <select id="findGoodsList" parameterType="String" resultType="com.longines.pojo.Search">
        select * from tb_goods_info where gname like  #{name}
    </select>

</mapper>