<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longines.dao.UserMapper">
        <select id="FindByUid" parameterType="int" resultType="com.longines.pojo.shopping_cart">
		SELECT * FROM tb_shopping_cart WHERE u_id=#{u_id}
	</select>
	<insert id="InsertUid" parameterType="com.longines.pojo.shopping_cart" >
		INSERT INTO tb_shopping_cart (u_id,g_id,g_num,t_amount,status)
		        VALUES(#{u_id},#{g_id},#{g_num},#{t_amount},#{status})
	</insert>
	<select id="FindByGid" parameterType="int" resultType="com.longines.pojo.goods_info">
		SELECT * FROM tb_goods_info WHERE g_id=#{g_id}
	</select>

	<!-- sm**根据用户ID查找sc信息-->
	<select id="findScByUid" parameterType="int" resultType="com.longines.pojo.shopping_cart">
		SELECT * FROM tb_shopping_cart WHERE u_id=#{u_id}
	</select>

        <!--<select id="findName" parameterType="java.lang.String" resultType="com.longines.pojo.shopping_cart">
		SELECT * FROM USER WHERE username LIKE '%${value}%';
	</select>-->




    </mapper>