<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longines.dao.TbGoodsTheMapper" >

  <!-- 根据主题id查询商品信息 -->
  <select id="selectGooTheByTheId" parameterType="int" resultType="com.longines.vo.TbThemeGoodsInfoVo">
        SELECT tb_goods_info.g_id,gname,brand,price,tb_goods_info.the_id,mov,func,a_peo,dial,strap,w_but,g_pic,tb_goods_the.the_pic,tb_goods_the.the_des,tb_mg_associated.m_id
        FROM tb_goods_info,tb_goods_the,tb_mg_associated
        WHERE tb_goods_info.the_id=#{id}
        AND tb_goods_the.the_id=#{id}
        AND tb_goods_info.g_id=tb_mg_associated.g_id
   </select>

    <select id="selectGooTheByTheIdHome" parameterType="int" resultType="com.longines.vo.TbThemeGoodsInfoVo">
        SELECT tb_goods_info.g_id,gname,brand,price,tb_goods_info.the_id,mov,func,a_peo,dial,strap,w_but,g_pic,tb_goods_the.the_pic,tb_goods_the.the_des,tb_mg_associated.m_id
        FROM tb_goods_info,tb_goods_the,tb_mg_associated
        WHERE tb_goods_info.the_id=#{id}
        AND tb_goods_the.the_id=#{id}
        AND tb_goods_info.g_id=tb_mg_associated.g_id
        LIMIT 3
   </select>

</mapper>