<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longines.dao.TbGoodsInfoMapper" >
  <select id="findGoodsByPriceDesc" resultType="com.longines.pojo.TbGoodsInfo">
      select * from tb_goods_info order by price desc;
    </select>
  <select id="findGoodsByPriceAsc" resultType="com.longines.pojo.TbGoodsInfo">
      select * from tb_goods_info order by price  asc;
    </select>
  <select id="findGoodsByTheme" parameterType="String" resultType="com.longines.pojo.TbGoodsInfo">
        select * from tb_goods_info where theme=#{theme}
    </select>
  <select id="findGoodsInfoBysTimeDesc" resultType="com.longines.pojo.TbGoodsInfo">
        SELECT tb_goods_info.g_id,gname,brand,price,theme,mov,func,a_peo,dial,strap,w_but,g_pic,s_time
        FROM tb_goods_info,tb_mg_associated
        WHERE tb_goods_info.g_id=tb_mg_associated.g_id
        ORDER BY s_time desc;
    </select>
  <select id="findGoodsInfoBysTimeAsc" resultType="com.longines.pojo.TbGoodsInfo">
        SELECT tb_goods_info.g_id,gname,brand,price,theme,mov,func,a_peo,dial,strap,w_but,g_pic,s_time
        FROM tb_goods_info,tb_mg_associated
        WHERE tb_goods_info.g_id=tb_mg_associated.g_id
        ORDER BY s_time asc;
    </select>
  <select id="findGoodsInfoByLike" parameterType="Long" resultType="com.longines.pojo.TbGoodsInfo">
        select * from tb_goods_info where  price between #{price}-1000 and #{price}+2000;
    </select>
  <select id="findAllGoodsInfo" resultType="com.longines.pojo.TbGoodsInfo">
        select * from tb_goods_info;
    </select>
</mapper>