<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longines.dao.TbMgAssociatedMapper" >
  <resultMap id="BaseResultMap" type="com.longines.pojo.TbMgAssociated" >
    <id column="m_id" property="mId" jdbcType="INTEGER" />
    <id column="g_id" property="gId" jdbcType="INTEGER" />
    <result column="inv" property="inv" jdbcType="INTEGER" />
    <result column="s_time" property="sTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    m_id, g_id, inv, s_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.longines.pojo.TbMgAssociatedExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mg_associated
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.longines.pojo.TbMgAssociatedKey" >
    select 
    <include refid="Base_Column_List" />
    from tb_mg_associated
    where m_id = #{mId,jdbcType=INTEGER}
      and g_id = #{gId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.longines.pojo.TbMgAssociatedKey" >
    delete from tb_mg_associated
    where m_id = #{mId,jdbcType=INTEGER}
      and g_id = #{gId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.longines.pojo.TbMgAssociatedExample" >
    delete from tb_mg_associated
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.longines.pojo.TbMgAssociated" >
    insert into tb_mg_associated (m_id, g_id, inv, 
      s_time)
    values (#{mId,jdbcType=INTEGER}, #{gId,jdbcType=INTEGER}, #{inv,jdbcType=INTEGER}, 
      #{sTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.longines.pojo.TbMgAssociated" >
    insert into tb_mg_associated
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        m_id,
      </if>
      <if test="gId != null" >
        g_id,
      </if>
      <if test="inv != null" >
        inv,
      </if>
      <if test="sTime != null" >
        s_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="gId != null" >
        #{gId,jdbcType=INTEGER},
      </if>
      <if test="inv != null" >
        #{inv,jdbcType=INTEGER},
      </if>
      <if test="sTime != null" >
        #{sTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.longines.pojo.TbMgAssociatedExample" resultType="java.lang.Integer" >
    select count(*) from tb_mg_associated
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_mg_associated
    <set >
      <if test="record.mId != null" >
        m_id = #{record.mId,jdbcType=INTEGER},
      </if>
      <if test="record.gId != null" >
        g_id = #{record.gId,jdbcType=INTEGER},
      </if>
      <if test="record.inv != null" >
        inv = #{record.inv,jdbcType=INTEGER},
      </if>
      <if test="record.sTime != null" >
        s_time = #{record.sTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_mg_associated
    set m_id = #{record.mId,jdbcType=INTEGER},
      g_id = #{record.gId,jdbcType=INTEGER},
      inv = #{record.inv,jdbcType=INTEGER},
      s_time = #{record.sTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.longines.pojo.TbMgAssociated" >
    update tb_mg_associated
    <set >
      <if test="inv != null" >
        inv = #{inv,jdbcType=INTEGER},
      </if>
      <if test="sTime != null" >
        s_time = #{sTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
      and g_id = #{gId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longines.pojo.TbMgAssociated" >
    update tb_mg_associated
    set inv = #{inv,jdbcType=INTEGER},
      s_time = #{sTime,jdbcType=TIMESTAMP}
    where m_id = #{mId,jdbcType=INTEGER}
      and g_id = #{gId,jdbcType=INTEGER}
  </update>
</mapper>