<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longines.dao.TheGoodsTmMapper" >
  <!--<resultMap id="BaseResultMap" type="com.longines.pojo.TheGoodsTm" >
    <id column="the_id" property="theId" jdbcType="INTEGER" />
    <result column="the_pic" property="thePic" jdbcType="VARCHAR" />
    <result column="the_des" property="theDes" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>


  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>


  <sql id="Base_Column_List" >
    the_id, the_pic, the_des
  </sql>


  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.longines.pojo.TheGoodsTmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from the_goods_tm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from the_goods_tm
    where the_id = #{theId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from the_goods_tm
    where the_id = #{theId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.longines.pojo.TheGoodsTmExample" >
    delete from the_goods_tm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.longines.pojo.TheGoodsTm" >
    insert into the_goods_tm (the_id, the_pic, the_des
      )
    values (#{theId,jdbcType=INTEGER}, #{thePic,jdbcType=VARCHAR}, #{theDes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longines.pojo.TheGoodsTm" >
    insert into the_goods_tm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="theId != null" >
        the_id,
      </if>
      <if test="thePic != null" >
        the_pic,
      </if>
      <if test="theDes != null" >
        the_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="theId != null" >
        #{theId,jdbcType=INTEGER},
      </if>
      <if test="thePic != null" >
        #{thePic,jdbcType=VARCHAR},
      </if>
      <if test="theDes != null" >
        #{theDes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.longines.pojo.TheGoodsTmExample" resultType="java.lang.Integer" >
    select count(*) from the_goods_tm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update the_goods_tm
    <set >
      <if test="record.theId != null" >
        the_id = #{record.theId,jdbcType=INTEGER},
      </if>
      <if test="record.thePic != null" >
        the_pic = #{record.thePic,jdbcType=VARCHAR},
      </if>
      <if test="record.theDes != null" >
        the_des = #{record.theDes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update the_goods_tm
    set the_id = #{record.theId,jdbcType=INTEGER},
      the_pic = #{record.thePic,jdbcType=VARCHAR},
      the_des = #{record.theDes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.longines.pojo.TheGoodsTm" >
    update the_goods_tm
    <set >
      <if test="thePic != null" >
        the_pic = #{thePic,jdbcType=VARCHAR},
      </if>
      <if test="theDes != null" >
        the_des = #{theDes,jdbcType=VARCHAR},
      </if>
    </set>
    where the_id = #{theId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longines.pojo.TheGoodsTm" >
    update the_goods_tm
    set the_pic = #{thePic,jdbcType=VARCHAR},
      the_des = #{theDes,jdbcType=VARCHAR}
    where the_id = #{theId,jdbcType=INTEGER}
  </update>-->

 


</mapper>